
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{

    width:100%;
    min-height:100vh;

    font-family:Vazirmatn,sans-serif;

    overflow-x:hidden;

}


.login-wrapper{

    width:100%;

    height:100vh;
    overflow: hidden;
    padding:50px 20px;
    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
        rgba(15,45,68,.82),
        rgba(15,45,68,.82)
    ),
    url("../images/hero.png");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    background-attachment:fixed;

}

/* ===========================
   CARD
=========================== */

.login-card{

    width:580px;

    max-width:95%;

    padding:30px;

    border-radius:28px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(24px);

    border:1px solid rgba(255,255,255,.18);

    box-shadow:
    0 30px 60px rgba(0,0,0,.35);
    transform: scale(0.80);
    transform-origin: center;
}

/* ===========================
   TOP MESSAGE
=========================== */

.top-message{

    width:100%;

    padding:16px;

    background:rgba(255,255,255,.08);

    border:1px solid rgba(255,255,255,.15);

    border-radius:14px;

    text-align:center;

    color:white;

    font-size:15px;

    margin-bottom:18px;
    margin-top: 10px;
}

.top-message a{

    color:#FFD54F;

    text-decoration:none;

    font-weight:700;
    margin-top: 20px;
}

.top-message a:hover{

    text-decoration:underline;

}

/* ===========================
   LOGO
=========================== */

.login-logo{

    text-align:center;

    font-size:64px;

    font-weight:900;

    color:#FFD54F;

    margin-bottom:10px;

}

.login-logo span{

    color:white;

}

/* ===========================
   TITLE
=========================== */

.login-card h1{

    text-align:center;

    color:white;

    font-size:32px;

    margin-bottom:12px;

}

.login-card p{

    text-align:center;

    color:#d5dbe3;

    font-size:16px;

    margin-bottom:20px;

}

/* ===========================
   ROLE BUTTONS
=========================== */

.role-selector{

    display:flex;

    gap:14px;

    margin-bottom:28px;

}

.role-btn{

    flex:1;

    height:62px;

    border:none;

    border-radius:15px;

    background:rgba(255,255,255,.12);

    color:white;

    font-size:17px;

    font-weight:700;

    cursor:pointer;

    transition:.3s;

}

.role-btn:hover{

    background:rgba(255,255,255,.18);

}

.role-btn.active{

    background:#FFD54F;

    color:#143447;

    box-shadow:
    0 10px 30px rgba(255,213,79,.35);

}

/* ===========================
   INPUT
=========================== */

.login-input{

    width:100%;

    height:52px;

    margin-bottom:18px;

    padding:0 22px;

    border-radius:14px;

    border:1px solid rgba(255,255,255,.15);

    background:rgba(255,255,255,.10);

    color:white;

    font-size:17px;

    outline:none;

    transition:.3s;

}

.login-input::placeholder{

    color:#d7d7d7;

}

.login-input:focus{

    border-color:#FFD54F;

    background:rgba(255,255,255,.15);

    box-shadow:
    0 0 18px rgba(255,213,79,.25);

}

/* ===========================
   BUTTON
=========================== */

.login-btn2{

    width:100%;

    height:52px;

    margin-top:10px;

    border:none;

    border-radius:15px;

    background:#FFD54F;

    color:#143447;

    font-size:18px;

    font-weight:800;

    cursor:pointer;

    transition:.3s;

}

.login-btn2:hover{

    transform:translateY(-2px);

    box-shadow:
    0 12px 35px rgba(255,213,79,.35);

}

/* ===========================
   MESSAGE
=========================== */

.login-message{

    margin-top:20px;

    text-align:center;

    color:#ffbcbc;

    font-weight:700;

}

/* ===========================
   FOOTER
=========================== */

.login-footer{

    margin-top:25px;

    text-align:center;

    color:#d7d7d7;

    font-size:14px;

    line-height:28px;

}

/* ===========================
   MOBILE
=========================== */

@media(max-width:700px){

.login-card{

    width:100%;

    padding:30px 22px;

}

.login-logo{

    font-size:52px;

}

.login-card h1{

    font-size:32px;

}

.role-selector{

    flex-direction:column;

}

.role-btn{

    height:56px;

}

.login-input{

    height:58px;

}

.login-btn2{

    height:58px;

}

}